<html>
    <head>
        <title>Atenea Code blog</title>
    </head>
    <body>
        <p><h1><FONT SIZE=6><strong>El zen de Python: 20 principios de software.</strong></FONT SIZE=6></h1></p>
        <p>Tim Peters en junio de 1999 escribió los 20 principios que conforman el Zen de Python. Son 20 principios de software que influyen en el diseño de este lenguaje de programación.</p>
        <p>Si quieres conocer estos principios solo tienes que digitar desde cmd  “python” y luego “import this”, este comando lo podrás ejecutar si tienes instalado python en tu sistema, lo cual generará lo siguiente:</p>
        <p>The Zen of Python, by Tim Peters<br><br>
            Beautiful is better than ugly.<br>
            Explicit is better than implicit.<br>
            Simple is better than complex.<br>
            Complex is better than complicated.<br>
            Flat is better than nested.<br>
            Sparse is better than dense.<br>
            Readability counts.<br>
            Special cases aren't special enough to break the rules.<br>
            Although practicality beats purity.<br>
            Errors should never pass silently.<br>
            Unless explicitly silenced.<br>
            In the face of ambiguity, refuse the temptation to guess.<br>
            There should be one-- and preferably only one --obvious way to do it.<br>
            Although that way may not be obvious at first unless you're Dutch.<br>
            Now is better than never.<br>
            Although never is often better than *right* now.<br>
            If the implementation is hard to explain, it's a bad idea.<br>
            If the implementation is easy to explain, it may be a good idea.<br>
            Namespaces are one honking great idea -- let's do more of those!<br>
        </p>
        <p><h2><FONT SIZE=4><strong>o Zen de Python en Español</strong></FONT SIZE=4></h2>
        </p>
        <p> Bello es mejor que feo.<br>
            Explícito es mejor que implícito.<br>
            Simple es mejor que complejo.<br>
            Complejo es mejor que complicado.<br>
            Plano es mejor que anidado.<br>
            Espaciado es mejor que denso.<br>
            La legibilidad es importante.<br>
            Los casos especiales no son lo suficientemente especiales como para romper las reglas.<br>
            Sin embargo la practicidad le gana a la pureza.<br>
            Los errores nunca deberían pasar silenciosamente.<br>
            A menos que se silencien explícitamente.<br>
            Frente a la ambigüedad, evitar la tentación de adivinar.<br>
            Debería haber una, y preferiblemente solo una, manera obvia de hacerlo.<br>
            A pesar de que eso no sea obvio al principio a menos que seas Holandés.<br>
            Ahora es mejor que nunca.<br>
            A pesar de que nunca es muchas veces mejor que *ahora* mismo.<br>
            Si la implementación es difícil de explicar, es una mala idea.<br>
            Si la implementación es fácil de explicar, puede que sea una buena idea.<br>
            Los espacios de nombres son una gran idea, ¡tengamos más de esos!</p>
        <p></p>
        </body>
</html>